<% if flash.any? %>
  <div class="flex justify-center">
    <% flash.each do |type, message| %>
      <div class="shrink bg-gray-100 shadow rounded p-4 font-semibold text-sm"><%= message %></div>
    <% end %>
  </div>
<% end %>

<% flash.clear %>
