<% if flash.any? %>
  <div class="flex justify-center">
    <div class="flex w-auto p-3 shadow rounded-lg bg-white border">
      <div class="flex flex-col gap-y-2 py-1 px-4">
        <% flash.each do |type, message| %>
            <div class="flex gap-x-2 items-center justify-center">
              <% if type == 'alert' %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
                <span class="font-bold text-red-400">Error!</span>
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="font-bold text-lg text-green-400">Success!</span>
              <% end %>
            </div>

            <span><%= message %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% flash.clear %>
